#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style-position: inside;
  padding: 0;
  margin: 0 auto;
  width: fit-content;
}

button {
  font-size: 15px;
}